<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
	<style type="text/css">
		form{
			text-align: center;
    padding: 13px;
    border: 2px black;
    background-color: powderblue;
    margin-left: 370px;
    margin-right: 370px;
    margin-top: 10px;
		}
	</style>
</head>
<body>
	<h2 style="background: skyblue;color: white;margin-left: 230px;margin-right: 230px;padding: 10px;text-align: center; ">Login form</h2>
<form >
	<label>Student Name<br><input type="text" name="Name" ></label><br>
	<label>Password<br><input type="Password" name="Password" ></label><br><br>
	<button>Submit</button>
</form>
</body>
</html>