{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Registration</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	
</head>
<body>
<h2>Registration Form</h2>
<form class="form-control-group">
	<label>UserName</label>
	<input type="text" name="" class="form-control"><br><br>
	<label>Password</label>
	<input type="Password" name="" class="form-control"><br><br>
	<label>Email</label>
	<input type="email" name="" class="form-control"><br><br>
	<label>step Number</label>
	<input type="number" name="" class="form-control"><br><br>
	<label>Nationality</label>
	<select>
		<option>India</option>
		<option>America</option>
		<option>Australia</option>
		<option>Others</option>
	</select><br><br>
	<button>Submit</button>
</form>
</body>
</html>